.portofolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portofolio_item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portofolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portofolio_item-image {
  max-height: 200px;
  /* min-height: 200px; */
  border-radius: 1.5rem;
  /* object-fit: contain; */
  overflow: hidden;
}
.portofolio_item h3 {
  margin: 1.2rem 0 2rem;
}
.portofolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*========MEDIUM DEVICES========*/
@media screen and (max-width: 1024px) {
  .portofolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*========SMALL DEVICES========*/
@media screen and (max-width: 600px) {
  section {
    height: 100vh;
  }
  .portofolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  .porto {
    margin-top: 23rem;
    /* height: 100vh; */
  }
}
